{% load bootstrap3 %}

<html>
<head>
    {% bootstrap_javascript True %}
    {% bootstrap_css %}
    
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url "home_page" %}">borrow_money</a>
      </div>
     </nav>
<div class="container">
     
    <ul class="nav nav-tabs">
        <li class="{% block home_tab %}{% endblock home_tab %}"><a href="{% url "home_page" %}">Home</a></li>
        
      <li class="{% block contact_tab %}{% endblock contact_tab %}"><a href="{% url "contact_list" %}">Contacts</a></li>
      <li class="{% block bank_tab %}{% endblock bank_tab %}"><a href="{% url "bank_home" %}">Bank</a></li>
  
    </ul>

    {% block messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}}"> {{message}}</div>
    {% endfor %}
    {% endblock messages %}
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>